In [2]:
# Libraries
import pandas as pd
berlin = pd.read_csv("dataset/airbnb_listings.csv")
berlin.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2539.0,Superfast Wi-Fi. Clean & quiet home by the park,2787,John,Brooklyn,Kensington,40.64529,-73.97238,Private room,NaN,30,9,10/19/2018,0.08,5,343,0
1,2595.0,Skylit Midtown Manhattan Spacious Studio,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,49,6/21/2022,0.26,3,365,0
2,5136.0,Spacious Family Friendly Duplex w/ Patio + Yard,7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,216.0,30,4,8/20/2023,0.03,1,37,0
3,6848.0,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,96.0,30,195,4/1/2025,1.00,1,182,4
4,6872.0,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.80107,-73.94255,Private room,59.0,30,1,6/5/2022,0.03,2,83,0

In [3]:
def add_high_price_indicator(arg1):

    if arg1 > 100:
        return True
    else:
        return False
    
berlin['high_price'] = berlin['price'].apply(add_high_price_indicator)

berlin['high_price'].head()

0    False
1     True
2     True
3    False
4    False
Name: high_price, dtype: bool

In [4]:
def property_category(arg1):

    if arg1 > 50 and arg1 <= 80:
        return "cheap"
    elif arg1 > 80 and arg1 < 100:
        return "medium"
    else:
        return "expensive"
    
berlin['property_category'] = berlin['price'].apply(property_category)

berlin['property_category'].head()

0    expensive
1    expensive
2    expensive
3       medium
4        cheap
Name: property_category, dtype: object

In [5]:
def price_per_review(arg):
    arg1 = arg['price']
    arg2 = arg["number_of_reviews"]

    return arg2 / arg1

berlin['price_per_review'] = berlin.apply(price_per_review, axis=1)


berlin['price_per_review'].head()

0         NaN
1    0.204167
2    0.018519
3    2.031250
4    0.016949
Name: price_per_review, dtype: float64

In [6]:
def availability_score(arg1):
    if arg1 > 300:
        return 5
    elif arg1 <= 300 and arg1 > 250:
        return 4
    elif arg1 <= 250 and arg1 > 200:
        return 3
    elif arg1 <= 200 and arg1 > 150:
        return 2
    else:
        return 1

berlin['availability_score'] = berlin['availability_365'].apply(availability_score)

berlin['availability_score'].head()

0    5
1    5
2    1
3    2
4    1
Name: availability_score, dtype: int64